@import '../../../assets/styles/shared/colours';
@import '../../../assets/styles/shared/grid';
@import '../../../assets/styles/shared/typography';

.footer{
  background-color:$grey-1;
  clear:both;
  color:$grey-4;
  font-size:$fontSmall;
  height:100px;
  line-height: 30px;
  padding:10px 1.5em;
  text-align: center;

  a{
    color:$grey-4;
    text-decoration: none;
    transition: all 200ms linear;

    &:hover{
      color: $grey-3;
    }
  }
}

@media screen and (min-width: $small) {
  .footer{
    text-align: left;
  }
}