@import '../../../assets/styles/shared/colours';
@import '../../../assets/styles/shared/grid';

.header{
  background-color: $grey-3;
  color:$grey-1;
  height: 80px;
  padding: 10px 1.5em;

  h1{
    margin:0;
  }

  h2{
    margin:0;
  }
}

@media screen and (min-width: $small) {
  .header{
    height: 100px;
  }
}

